/* pages css - Lidia*/

:root {
  --asparagus: #698f40;
  --cosmiclatte: #f8f4e3;
  --bg: #f9f9f9;
  --sunshine: #ffcd29;
  --sun: #e7b100;
  --tomato: #f55d3d;
  --dark: #2e6932;
}

/* general */

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  overflow-x: hidden;
  flex-direction: column;
  height: 100vh;
}

p {
  font-size: 16px;
}

.headline-all {
  font-size: 2.5rem;
  color: var(--asparagus);
}

button {
  padding: 10px 20px;
  background-color: var(--asparagus);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  align-self: flex-end;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: var(--dark);
}

/* Landing Screen */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--asparagus);
}

.app-promo {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: var(--asparagus);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  animation: fadeIn 1s ease-in-out;
}

.background-image {
  background: var(--cosmiclatte)
    url("https://live.staticflickr.com/4583/37675350645_e8fe163e21_b.jpg")
    no-repeat center;
  width: 100vw;
  height: 100vh;
  padding: 180px;
  background-position: 6ch 50%;
  background-size: cover;
  clip-path: circle(80% at 100% 0%);
  top: 0;
  left: 0;
}

.promo-content {
  position: absolute;
  left: 3vw;
  bottom: 10vh;
  color: var(--cosmiclatte);
  text-align: left;
  padding: 1.5rem;
}

.highlight {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--cosmiclatte);
  margin: 0;
}

/* text */

.promo-content p {
  font-size: 1.2rem;
  color: var(--cosmiclatte);
  margin: 0.5rem 0 2rem;
}

.promo-content h1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: black;
  margin: 0;
}

/* buttons */

.promo-button {
  background-color: var(--cosmiclatte);
  color: var(--cosmiclatte);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.promo-button:hover {
  background-color: #e0dbc9;
}

/* standard page */
.landing-page {
  max-width: 800px;
  overflow: hidden;
  margin: 3vw auto;
  padding: 2rem;
  background-color: var(--cosmiclatte);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* App showcase section */

.header {
  text-align: center;
  padding: 2rem 0;
}
.header p {
  font-size: 1.2rem;
  color: #556b2f;
}

.features {
  display: flex;
  flex-direction: column;
}

.feature,
.feature2 {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.feature2 {
  flex-direction: row-reverse;
}

.feature-image,
.feature-imagePRO {
  width: 40%;
  height: auto;
  border-radius: 10px;
  margin: 0 1rem;
}

.feature-image {
  border: 2px solid var(--asparagus);
}

.feature-text h2 {
  font-size: 1.5rem;
  color: var(--asparagus);
  margin-bottom: 0.5rem;
}

.feature-text p {
  font-size: 1rem;
  color: #4b6335;
  line-height: 1.6;
}

/* CTA Section */
.cta {
  max-width: 800px;
  margin: 2rem auto;
  padding: 3rem;
  background-color: var(--asparagus);
  color: var(--cosmiclatte);
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.cta h2 {
  font-size: 2.5rem;
  margin: 0;
  color: var(--sunshine);
  font-weight: bold;
}

.cta p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.cta-content p {
  font-size: 1.1rem;
  color: var(--cosmiclatte);
  font-style: italic;
  margin-bottom: 2rem;
}

.promo-button {
  background-color: var(--sunshine);
  color: var(--dark);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.promo-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--sun);
}

/* Contact Page */
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: #333;
}

.contact-page p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  background-color: var(--bg);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.green {
  color: var(--asparagus);
}
.contact {
  width: 72%;
}
label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 35vw;
  padding: 0.8rem;
  margin: 0.5rem 0 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #bbb;
}

.contact-form button {
  background-color: var(--asparagus);
  color: #fff;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--dark);
}

/* Community Page */

.intro {
  text-align: center;
  padding: 5vh 0 5vh 0;
}

.posts,
.post-form {
  margin-top: 30px;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.postnew {
  background-color: var(--sunshine);
  color: var(--dark);
}
.postnew:hover {
  background-color: var(--sun);
}

h2 {
  font-size: 1.8rem;
  color: #333;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-wrap: wrap;
}

.member,
.post {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: var(--cosmiclatte);
}

.member h3,
.post h3 {
  margin: 0;
  color: var(--asparagus);
  font-size: 1.3rem;
}

.member p,
.post p {
  margin: 5px 0 0;
  color: #555;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  max-width: 800px;
  align-items: center;
}

.post-form input, .post-form textarea {
  max-width: 750px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: vertical;
}

.community-post {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: var(--bg);
  font-family: Arial, sans-serif;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-picture {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info h3 {
  margin: 0;
  font-size: 1.1em;
  font-weight: 600;
}

.user-level {
  font-size: 0.9em;
  color: var(--sun);
}

.post-time {
  font-size: 0.9em;
  color: #999;
}

.smalldiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.post-content {
  font-size: 1em;
  margin-bottom: 10px;
}

.post-image {
  width: 20vw;
  border-radius: 10px;
  margin-top: 10px;
}

.post-image img {
  width: 20vw;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.action-button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  color: gray;
  background: #f1f1f1;
}

.action-button:hover {
  background-color: #ddd;
}

.like-button {
  background-color: var(--asparagus);
}

.dislike-button {
  background-color: var(--tomato);
}

.comments-button,
.share-button {
  background-color: white;
  color: black;
}

.comments-button:hover,
.share-button:hover {
  background-color: gray;
}
.dislike-button:hover {
  background-color: crimson;
}
.like-button:hover {
  background-color: var(--dark);
}

.post-flair {
  background-color: var(--sunshine);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

input,
textarea {
  width: 60vw;
  max-width: 60vw;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: gray;
}

.filter-sort {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.post-header{
  display: flex;
  flex-direction: row;
}
.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.horizontal.form-visible {
  flex-direction: column;
  align-items: flex-start;
}

/* Learn Page */

.article {
  background-color: var(--bg);
  padding: 2vw;
  border-radius: 12px;
  margin-top: 2vh;
}

.intro-learn {
  text-align: center;
  padding: 2vh 0 2vh 0;
}

.intro-learn p {
  margin-top: -2vh;
}

.search-bar {
  margin-top: 7vh;
  width: 100%;
}
.article-image {
  max-height: 200px;
}
.article-image img{
  max-width: 800px;
  max-height: 200px;
}
.search-input {
  width: 100%;
}

.new-label {
  background-color: var(--sunshine);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.article-author {
  opacity: 50%;
  font-size: 0.8rem;
}

.article-list {
  display: flex;
  flex-direction: column;
}

/* Profile Page */

.profile-page {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.profile-header {
  position: relative;
  background-color: #f0f0f0;
}

.background-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profile-pic-container {
  position: absolute;
  top: 120px;
  left: 70%;
  display: flex;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 3px solid white;
  background-color: #999;
}

.change-profile-pic {
  margin-left: -100px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.profile-info {
  margin-top: 3vh;
  background-color: var(--bg);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.profile-details h2 {
  margin: 0;
}

.mygarden {
  margin-top: 30px;
}

.mygarden ul {
  list-style: none;
  padding: 0;
}

.info {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mygarden li {
  background-color: var(--cosmiclatte);
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 4px;
}

.logout {
  padding: 10px 120px;
  background-color: var(--tomato);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 5vh;
  align-self: center;
}

.logout:hover {
  background-color: crimson;
}

.recent-activity {
  margin-top: 30px;
  align-self: flex-start;
}

.recent-activity ul {
  list-style: none;
  padding: 0;
}

.recent-activity li {
  margin-bottom: 10px;
}

/* Filtering for community, plantabase and learn*/

.filter-buttons {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  padding: 10px 0;
}

.filter-button {
  padding: 8px 16px;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--dark);
}

.filter-buttons::-webkit-scrollbar {
  display: none;
}

.filter-button.active {
  background-color: var(--asparagus);
  color: white;
}

.filter-button:hover {
  background-color: var(--asparagus);
}

/* Plantabase */

.plantabase-input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.plant-cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  margin-top: 3vh;
  justify-content: center;
  align-items: center;
}

.plant-card {
  display: flex;
  width: 95%;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.plant-image {
  width: 8vw;
  height: 8vw;
  border-radius: 8px;
  margin-right: 15px;
  object-fit: cover;
}

.plant-info {
  flex-grow: 1;
}

.plantabase-name {
  margin-top: 7vh;
}

.scientific-name {
  font-style: italic;
  color: gray;
  margin-top: -1vh;
}

.tags {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.tag {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.easy {
  background-color: #d4e8bc;
}

.medium {
  background-color: #eed99d;
}

.hard {
  background-color: #f5b7b1;
}

.indoor,
.outdoor,
.edible {
  background-color: #efe0c3;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .feature,
  .feature2 {
    flex-direction: column;
    text-align: center;
  }

  .feature-image {
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
  }

  .app-promo {
    flex-direction: column;
  }

  .promo-content {
    bottom: 0vh;
    left: 1.5vw;
  }

  .highlight {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--cosmiclatte);
    margin: 0;
  }

  .promo-content p {
    font-size: 1rem;
    max-width: 50vw;
    color: var(--cosmiclatte);
    margin: 0.5rem 0 2rem;
  }

  .promo-content h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: black;
    margin: 0;
  }

  .background-image {
    width: 140vw;
    height: 110vh;
    background-position: 70% 50%;
    background-size: cover;
    clip-path: circle(80% at 100% 0%);
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    background-color: var(--bg);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .contact-form label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 57vw;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 0.8rem;
    margin: 0.5rem 0 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: gray;
    box-sizing: border-box;
  }

  .contact-form button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .profile-info {
    margin-top: 3vh;
    background-color: var(--bg);
    padding: 20px;
    padding-top: 10vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid white;
    margin-left: 30vw;
  }
  .community-post {
    width: 78vw;
  }

  .profile-picture {
    width: 15vw;
    height: 15vw;
  }

  .plantabase-name {
    margin-top: 10vh;
  }
  .post-user-info h3 {
    font-size: medium;
  }

  .post-title {
    font-size: larger;
  }

  .horizontal {
    width: 90vw;
    justify-content: space-between;
  }

  .post-actions {
    flex-wrap: wrap;
  }

  .landing-page {
    overflow-x: hidden;
    flex-direction: column;
  }
  .posts, .filter-buttons {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    padding: 10px 0;
  }
  .plant-image {
    width: 20vw;
    height: 20vw;
  }


.post-image {
  width: 50vw;
  border-radius: 10px;
  margin-top: 10px;
}

.post-image img {
  width: 50vw;
}
}
