:root {
    --asparagus: #698F40;
    --cosmiclatte: #F8F4E3;
    --bg: #F9F9F9;
  }

nav {
    display: flex;
    justify-content: center;
    background: var(--asparagus);
    padding-left: 2vw;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw; 
    z-index: 1000; 
}

a{
    text-decoration: none;
}

.NavLinks {
    height: auto;
    position: relative;
}

.logo {
    color: black;
}

.color {
    color: var(--cosmiclatte);
}

nav ul {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 0;
    margin-right: -4vw;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1vw;
    justify-content: right;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav ul li a:hover {
    color: white;
    transition: .3s;
}

.promo-nav {
    background-color: var(--cosmiclatte);
    color: var(--cosmiclatte);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin: 0;
  }
  
.MobileNavigation {
    display: none;
}

.HamburgerMenu {
    position: absolute;
    right: 2%;
    cursor: pointer;
    margin-right: 5%;
}

.DesktopNavigation {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.3));
}

@media (max-width: 768px) {
    .DesktopNavigation {
        display: none;
    }

    .MobileNavigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
        background-color: var(--asparagus);
        width: 100vw;
        filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.3));
    }

    .NavLinks ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: 0;
        top: 70px;
        height: 90vh;
        width: 100%;
        background: var(--asparagus);
        margin: 0;
        padding: 0;
        align-items: center;
        z-index: 10;
    }


nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5vh;
}

    .MobileNavigation{
        display: flex;
    }

    .NavLinks {
        display: flex;
        flex-direction: column;
        height: auto;
        position: absolute;
        margin-right: 0;
    }
}
