/*navigation css*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--asparagus);
    padding: 10px;
}

.NavLinks{
    height: auto;
}

h2 {
    color: black;
  }

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav ul li a:hover{
    color: white;
    transition: .3s;
}

.MobileNavigation{
    display: none;
}

/*responsive menu*/

@media (max-width: 768px){

    .DesktopNavigation{
        display: none;
    }

    .MobileNavigation{
        display: flex;
        align-items: center;
        height: auto;
        background-color: var(--asparagus);
    }

    .NavLinks ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        top:80px;
        height: 90vh;
        width: 100%;
        background:var(--asparagus);
        margin: 0%;
    }


    .HamburgerMenu{
        position: absolute;
        right: 2%;
        cursor: pointer;
      }

}