/*universal css*/

:root {
--asparagus: #698F40;
--cosmiclatte: #F8F4E3;
--bg: #F9F9F9;
}
#root {
  height: 100vh;
  width: 100vw;
}
html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bg);
}

